:root {
    --primary-color: #f0f0f0;
    /* Cor primária */
    --primary-bg-color: #111217;
    --secondary-bg-color: #28292e;
    --secondary-color: #6c757d;
    /* Cor secundária */
    --title-color: #9a9a9c;
    --link-color: #9a9a9c;
    --icon-color: #298bee;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*garante que o tamanho total inclua as bordas e outros elementos*/
    vertical-align: baseline;
    list-style: none;
    /*remove os marcadores de lista*/
}

body{
    background: var(--primary-bg-color);

}
i{
    color: var(--icon-color);
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}